@model IGrid
<tr class="bg-primary text-white">
   <td colspan="@Model.Columns.Count()">
       <strong><span class=" badge badge-light">Total: <span>@Model.Pager.TotalRows</span></span></strong>
    </td>
</tr>